<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- ComponentScan -->
    <!-- portal module: 扫描除去@Controller的注解，@Controller注解由springMVC进行处理 -->
    <context:component-scan base-package="org.wesc.ssm.portal">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- service module: 只扫描@Service -->
    <context:component-scan base-package="org.wesc.ssm.service">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

    <!-- shiro module: 只扫描@Service -->
    <context:component-scan base-package="org.wesc.ssm.shiro">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

</beans>