<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/signin" />
        <!--
        <property name="successUrl" value="/success" />
        <property name="unauthorizedUrl" value="/noaccess" />
        -->
        <property name="filters">
            <map>
                <entry key="authc">
                    <bean class="org.apache.shiro.web.filter.authc.PassThruAuthenticationFilter" />
                </entry>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /* = anon
            </value>
        </property>
    </bean>

    <!-- Security Manager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="customRealm" />
        <property name="cacheManager" ref="redisCacheManager" />
        <property name="sessionManager" ref="redisSessionManager" />
        <property name="rememberMeManager" ref="rememberMeManager" />
    </bean>

    <!-- Realm -->
    <bean id="customRealm" class="org.wesc.ssm.portal.shiro.CustomRealm">
        <property name="cachingEnabled" value="true" />
        <property name="authenticationCachingEnabled" value="true" />
        <property name="authenticationCacheName" value="authenticationCache" />
        <property name="authorizationCachingEnabled" value="true" />
        <property name="authorizationCacheName" value="authorizationCache" />
        <property name="credentialsMatcher" ref="hashedCredentialsMatcher"/>
    </bean>

    <!-- Hash Credential -->
    <bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="${password.algorithmName}"/>
        <property name="hashIterations" value="${password.hashIterations}"/>
    </bean>

    <!-- cacheManager -->
    <bean id="redisCacheManager" class="com.ameet.web.shiro.cache.RedisCacheManager">
        <property name="redisManager" ref="redisManager" />
    </bean>

    <!-- Session Manager -->
    <bean id="redisSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000" />
        <property name="deleteInvalidSessions" value="true" />
        <property name="sessionValidationInterval" value="1800000" />
        <property name="sessionValidationSchedulerEnabled" value="true" />
        <property name="sessionDAO" ref="redisSessionDAO" />
        <property name="sessionIdCookie" ref="mySessionIdCookie" />
    </bean>

    <!-- sessionIdCookie -->
    <bean id="mySessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!-- cookie的name,对应的默认是 JSESSIONID,主要为了修改此属性 -->
        <constructor-arg name="name" value="SSM_JSESSIONID" />
        <property name="path" value="/" />
        <property name="httpOnly" value="true"/>
    </bean>

    <!-- RememberMe Cookie -->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe" />
        <property name="httpOnly" value="true" />
        <property name="maxAge" value="2592000" />
    </bean>

    <!-- RememberMe Manager -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
        <property name="cookie" ref="rememberMeCookie" />
    </bean>

    <!--Redis Session DAO-->
    <bean id="redisSessionDAO" class="com.ameet.web.shiro.session.RedisSessionDAO">
        <property name="redisManager" ref="redisManager" />
    </bean>

    <!--Redis Manager-->
    <bean id="redisManager" class="com.ameet.web.shiro.cache.RedisManager">
        <property name="redisPool" ref="redisPool" />
    </bean>

    <!--Redis Pool-->
    <bean id="redisPool" class="com.ameet.web.shiro.cache.RedisPool">
        <property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="timeout" value="${redis.timeout}"/>
        <property name="config" ref="jedisPoolConfig"/>
    </bean>

    <!-- Shiro Life Cycle -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>